*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.history
.ionide
Scripts/
Notebooks/config.ipynb
.ipynb_checkpoints/
Visualizations/.ipynb_checkpoints/
Notebooks/.ipynb_checkpoints/
Database/
Data/